.case-study {
  padding-top: 50vh;
  background-color: white;
}

.backbutton_position {
  position: fixed;
  top: 80px;
  right: 80px;
}

.figure_subtitle {
  font-weight: lighter;
  color: #898989;
  margin: 30px auto;
  text-align: center;
  width: 90%;
}

@media only screen and (max-width: 1440px) {

  .backbutton_position {
    position: fixed;
    top: 40px;
    right: 40px;
  }

}

@media only screen and (max-width: 630px) {

  .backbutton_position {
    position: fixed;
    top: 15px;
    right: 15px;
  }

}
