.landing {
  background-image: var(--grad-bg-landing);
  height: 100vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing_content_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing_text_container {
  margin: 0;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}

.landing_header {
  color: var(--color-main-bright);
  text-align: left;
  margin: 0;
  font-size: 120px;
  margin-bottom: 40px;
}

.landing_text {
  text-align: left;
  margin: 0;
  font-size: 40px;
  padding: 20px;
  border: 2px solid var(--color-main-bright);
  width: fit-content;
}

.lottie_container {
  display: flex;
  position: relative;
  height: 700px;
  width: 700px;
}

.lottie_wrapper {
  position: absolute;
  width: 600px;
  height: auto;
}

#lottie_design {
  top: 20px;
  right: 60px;
  z-index: 200;
}

#lottie_code {
  top: 60px;
  right: 0px;
  z-index: 100;
}

.landing_logo {
  content: url("./img/logo_mzd.png");
  height: 80px;
  position: absolute;
  top: calc(var(--border-main)/2);
  right: calc(var(--border-main)/2);
}

.landing_info {
  position: absolute;
  bottom: 30px;
  right: 50px;
  text-transform: uppercase;
}

.landing_info > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing_info_text {
  font-size: var(--font-size-m);
  margin: 0;
}

.landing_info_icon {
  content: url("./img/arrow_icon.png");
  height: 30px;
}


@media (max-width: 1920px) {


  .lottie_container {
    height: 550px;
    width: 550px;
  }

  .lottie_wrapper {
    width: 450px;
  }

  .landing_header {
    font-size: 90px;
    margin-bottom: 30px;
  }

  .landing_text {
    font-size: 20px;
    padding: 10px;
  }

  .landing_logo {
    height: 40px;
    top: calc(var(--border-main)/4);
    right: calc(var(--border-main)/4);
  }

  .landing_info {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }

}


@media only screen and (min-height: 1200px) and (max-width: 1100px) {

  .landing_content_container {
    flex-direction: column;
  }

  .landing_text_container {
    margin: 0;
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .landing_header {
    font-size: 120px;
    margin-bottom: 30px;
  }

  .landing_text {
    font-size: 20px;
    padding: 10px;
  }

}

@media (max-width: 1100px) {

  .landing_text_container {
    margin: 0;
    margin-left: 40px;
  }

  .landing_header {
    font-size: 70px;
    margin-bottom: 30px;
  }

  .landing_text {
    font-size: 20px;
    padding: 10px;
  }
}

@media (max-width: 800px) {

  .landing_info {
    right: 0;
  }

  .lottie_container {
    display: none;
  }

  .landing_text_container {
    margin: 0;
    margin-left: 0px;
  }

  .landing_header {
    font-size: 50px;
    margin-bottom: 30px;
  }

  .landing_text {
    font-size: 15px;
    padding: 10px;
  }
}
