/* Angang: Desktop (Big) (Basis) */

.landing_shape {
  position: absolute;
  height: auto;
  width: 100%;
  bottom: 0px;
  right: 0px;
  opacity: 0.3;
  pointer-events: none;
}

.landing {
  background-image: var(--grad-bg-landing);
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing_content_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing_text_container {
  margin: 0;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  z-index: 600;
}

.landing_header {
  color: var(--color-main-bright);
  text-align: left;
  margin: 0;
  font-size: 100px;
  margin-bottom: 40px;
  width: min-content;
  text-transform: uppercase;
  font-weight: 700;

}

.landing_text {
  text-align: left;
  margin: 0;
  font-size: 25px;
  padding: 20px;
  border: 2px solid var(--color-main-bright);
  width: fit-content;
}

.lottie_container {
  display: flex;
  position: relative;
  height: 700px;
  width: 700px;
}

.lottie_wrapper {
  position: absolute;
  width: 600px;
  height: auto;
}

#lottie_design {
  top: 20px;
  right: 60px;
  z-index: 200;
}

#lottie_code {
  top: 60px;
  right: 0px;
  z-index: 100;
}

.landing_logo {
  width: 150px;
  height: 90px;
  position: absolute;
  top: calc(var(--border-main)/2);
  right: calc(var(--border-main)/2);
}

.landing_info {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  pointer-events: none;
}

.landing_info_icon {
  height: 140px;
}

/* Ende: Desktop (Big) (Basis) */

/* Anfang: Desktop (Small) */
@media (max-width: 2000px) {

  .lottie_container {
    height: 550px;
    width: 550px;
  }

  .lottie_wrapper {
    width: 450px;
  }

  .landing_header {
    font-size: 80px;
    margin-bottom: 30px;
  }

  .landing_text {
    font-size: 20px;
    padding: 10px;
  }

  .landing_logo {
    width: 60px;
    height: 40px;
    top: calc(var(--border-main)/4);
    right: calc(var(--border-main)/4);
  }

}
/* Ende: Desktop (Small) */

/* Anfang: Desktop (Small) */
@media (max-width: 1600px) {

  .lottie_container {
    height: 550px;
    width: 550px;
  }

  .lottie_wrapper {
    width: 450px;
  }

  .landing_header {
    font-size: 70px;
    margin-bottom: 30px;
  }

  .landing_text {
    font-size: 20px;
    padding: 10px;
  }

  .landing_logo {
    height: 40px;
    top: calc(var(--border-main)/4);
    right: calc(var(--border-main)/4);
  }

}
/* Ende: Desktop (Small) */


/* Anfang: Tablet Big Hochkant */
@media (max-width: 1300px) {

  .lottie_container {
    display: none;
  }

  .landing_text_container {
    margin: 0;
    margin-left: 0px;
  }

  .landing_header {
    font-size: 100px;
    margin-bottom: 30px;
  }

  .landing_text {
    font-size: 25px;
  }
}
/* Ende: Tablet Small Hochkant */

/* Anfang: Tablet Small Hochkant */
@media (max-width: 900px) {

  .landing_header {
    font-size: 80px;
  }

  .landing_text {
    font-size: 15px;
  }
}
/* Ende: Tablet Small Hochkant */

@media only screen and (device-height: 768px) and (orientation: landscape) {

  .landing_content_container {
    justify-content: left;
  }

  .landing_header {
    font-size: 80px;
  }

  .landing_text {
    font-size: 15px;
  }

}

/* Anfang: Mobile */
@media (max-width: 630px) {

  .landing_header {
    font-size: 40px;
  }

  .landing_text {
    font-size: 15px;
  }

  .landing_info_icon {
    height: 110px;
  }

}
/* Ende: Mobile */
