.backbutton {
  display: flex;
  background-color: var(--color-main);
  color: black;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 20px 0px;
  padding-left: 30px;
  padding-right: 40px;
  z-index: 1000;
}

.backbutton-text {
  font-size: var(--font-size-l);
  margin: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.backbutton-icon {
  content: url("./img/arrow_icon.png");
  height: 40px;
  transform: rotate(90deg);
}

@media only screen and (max-width: 630px) {

  .backbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 10px 0px;
    padding-left: 10px;
    padding-right: 15px;
    z-index: 1000;
  }

  .backbutton-text {
    font-size: var(--font-size-m);
    margin: 0 5px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .backbutton-icon {
    content: url("./img/arrow_icon.png");
    height: 30px;
    transform: rotate(90deg);
  }

}
