.backbutton {
  position: fixed;
  top: 80px;
  right: 80px;
  display: flex;
  background-color: var(--color-main);
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 20px 0px;
  padding-left: 30px;
  padding-right: 40px;
  z-index: 1000;
  border-radius: 100px;
}

.backbutton-text {
  font-size: var(--font-size-l);
  margin: 0 20px;
  text-transform: uppercase;
}

.backbutton-icon {
  content: url("./img/arrow_icon.png");
  height: 40px;
  transform: rotate(90deg);
}

@media only screen and (max-width: 1440px) {

  .backbutton {
    top: 30px;
    right: 30px;
    padding: 10px 0px;
    padding-left: 10px;
    padding-right: 15px;
  }

}

@media only screen and (max-width: 630px) {

  .backbutton {
    top: 15px;
    right: 15px;
  }

  .backbutton-text {
    font-size: var(--font-size-m);
    margin: 0 5px;
  }

  .backbutton-icon {
    height: 30px;
  }

}
