@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

/*
  --color-main: #17B292;
  --color-secondary: #FF9600;
  --color-main-bright: #2BFFD3;
  --color-main-bg-from: #10212E;
  --color-main-bg-to: #002A3C;
  --color-landing-bg-from: #072635;
  --color-landing-bg-to: #327175;
  --color-footer-bg: #0A141C;

  --input-passive-color: #041721;

  */

:root {
  /* Colors */
  --color-main: #10D0BC;
  --color-secondary: #FAB52E;
  --color-main-bright: #2BFFD3;
  --color-main-bg-from: #1B2540;
  --color-main-bg-to: #1B2540;
  --color-landing-bg-from: #344497;
  --color-landing-bg-to: #344497;
  --color-footer-bg: #0A141C;

  --input-passive-color: rgba(0,0,0,0.3);
  /* Gradients */
  --grad-bg-landing: linear-gradient(to bottom right, var(--color-landing-bg-from) , var(--color-landing-bg-to));
  --grad-bg-main: linear-gradient(to bottom, var(--color-main-bg-from) , var(--color-main-bg-to));
  --grad-bg-portfolio-el: linear-gradient(to bottom, var(--color-main-bg-from) , var(--color-main));

  --leistungen-grad: linear-gradient(to top, #3B4260, #234457);
  --leistungen-icon-passive-grad: linear-gradient(to bottom, var(--color-main-bright)/*#003A41*/ , var(--color-main));
  --leistungen-icon-hover-grad: linear-gradient(to bottom, var(--color-secondary) , var(--color-secondary));
  --leistungen-icon-active-grad: linear-gradient(to bottom, var(--color-main-bright) , var(--color-main));
  /* Fonts */
  --font-main: 'Lato', sans-serif;
  --font-secondary: 'Noto Serif', serif;
  --font-size-m: 1em;
  --font-size-xm: 1.3em;
  --font-size-l: 1.5em;
  --font-size-xl: 1.7em;
  --font-size-xsl: 2.4em;
  --font-size-xxl: 3.2em;
  /* Screen */
  --content-max-width: 1500px;
  --border-main: 140px;
  /* Kontakt */
  --input-height: 55px;
  --input-width: 360px; /* Beinhaltet die 10px Padding vom Input.*/
  --swiper-theme-color: white;
}

.section_container {
  height: auto;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
}

.section_content {
  width: calc(100% - 2 * var(--border-main));
  max-width: var(--content-max-width);
  padding: 0px var(--border-main);
  margin: 0px auto;
}

@media (max-width: 800px) {
  .section_content {
    width: calc(100% - var(--border-main)/2);
    max-width: var(--content-max-width);
    padding: 0px calc(var(--border-main)/4);
    margin: 0px auto;
  }
}

a {
  text-decoration: blink;
}

li {
  list-style: none;
  font-size: var(--font-size-m);
}

li a {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, li, a, p {
  color: white;
}

body {
  background-image: var(--grad-bg-main);
  -webkit-overflow-scrolling: auto;
  -ms-overflow-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  font-family: var(--font-main), 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
